.side-bar
  .side-bar__user-name
    .top-item
      .top-item__name
        名前
      .top-item__icons
      = link_to "#", class: "icons__btn" do
        = icon('far', 'edit')
      = link_to "#", class: "icons__btn" do
        = icon('fab', 'bitcoin')
  .side-bar__group-list
    .groups
      .group-name
        techcamp
      .group-message
        まだメッセージがありません
      .group-name
        techcamp2
      .group-message
        まだメッセージがありません2